extends template

block content
    h1 Home Page
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint earum porro unde nihil eveniet placeat eligendi nulla aut, obcaecati illo libero, quisquam ut provident pariatur eos facere repellat repudiandae officiis.